.back-cta-container a,
.back-cta-container a:hover {
  font-family: InterRegular;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: #15161f;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.go-back-cta {
  margin-right: 12px;
  width: 22px;
  height: 20px;
  transform: rotate(180deg);
}

.back-cta-container {
  position: relative;
  margin-top: 27px;
  margin-bottom: 2px;
}