.max-width-container {
  max-width: 62%;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ededed;
  height: 120px;
}

.logo-green {
  width: 100%;
  max-width: 152px;
  min-width: 152px;
  margin-bottom: 66.9px;
  margin-top: 48px;
}

.dealership-logo {
  max-width: 30%;
  width: 30%;
  margin-bottom: 45px;
  margin-top: 42px;
  float: right;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  top: auto;
  background-color: #2f313c;
  width: 100%;
  padding: 37px 0 35px;
  left: 0;
  right: 0;
}

.copy-div {
  float: left;
  padding-left: 20px;
}

.button-div {
  float: right;
}

.copy-div .first-copy {
  font-family: InterSemiBold;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: #ffffff;
  margin-bottom: 4px;
}

.copy-div p:last-child {
  font-family: InterRegular;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #d2d2d2;
}

.button-div .submit-btn {
  border-radius: 30px;
  background-color: #05deba;
  padding: 14px 32px;
  font-family: InterSemiBold;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: #15161f;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.button-div .submit-btn.not-active {
  background-color: #ededed;
  color: #d2d2d2;
}

.button-div .submit-btn img.arrow-inactive {
  opacity: 0.2;
}

.button-div .submit-btn img {
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

@keyframes bounce {
  0%,
  20%,
  30% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  60% {
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  70%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.only-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .max-width-container {
    max-width: 90%;
  }

  .logo-green {
    width: 100%;
    max-width: 120px;
    min-width: 120px;
    margin-bottom: 45px;
    margin-top: 35px;
  }

  .copy-div {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    float: initial;
  }

  .dealership-logo {
    max-width: 40%;
    width: 100%;
    margin-bottom: 45px;
  }

  .button-div .submit-btn {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 18px;
  }

  .fixed-footer {
    padding: 25px 0;
  }

  .only-mobile {
    display: block;
  }
  .only-dt {
    display: none;
  }

  .button-div {
    float: initial;
    text-align: center;
    max-width: 190px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .max-width-container {
    max-width: 90%;
  }
}
